<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS LESSON</title>
</head>

<body>
    <h1>
        EJS EXCERCISES
    </h1>
    <section>
        <h2>1 - Daily message</h2>
        <h3>Hey, it's <%= dayType %>, <%= advice %>!</h3>
    </section>
    <br>
    <section>
        <%- include("./components/tags.ejs") %>
    </section>
    <br>
    <section>
        <%- include("./components/numberLetter.ejs") %>
    </section>
    <%- include("./components/footer.ejs") %>
</body>

</html>